* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.aboutArea{
  display: flex;
  justify-content: center;
}

.aboutInfo {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 30px;
  border-radius: 10px;
  color: var(--body_color);
  box-shadow: 0 0 10px 2px var(--body_background);
}

 .aboutDesc {
    font-weight: 500;
    margin-bottom: 20px;
  }
 .aboutSidebar {
    margin-top: 10px;
  }
@media (max-width: 40em) {
    .aboutArea {display: block; width: 100%};
  }
  @media (max-width: 40em) {
    .aboutSidebar {display: block; width: 100%;margin-left: 70px;};
  }
 
  @media (max-width: 40em) {
    .aboutInfo {display: block; width: 100%;};
  }
 
  



/*.aboutHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .aboutImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #996ed9;
    margin-right: 10px;
  }

  .aboutName p {
    opacity: 50%;
  }

 
*/
 