* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.postWrapper {
  width: 100%;
}
  /*
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "singlepost sidebar"
}

.singlepost {
  grid-area: singlepost;
  }

.sidebar {
  grid-area: sidebar;
  }
*/
