.homesection2 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.homesection2-two-column {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}


.homesection2-left-column {
    justify-content: right;
    align-items: top;
    display: flex;
    width: 50%;
    height: auto;
    background: url(/src/assets/images/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
    border-radius: 5px;
}

.logo {
    position: absolute;
    font-family: "Princess Sofia";
    font-size: 24px;
    color: #231F20;
    padding: 10px;
}

.homesection2-left-column-image {
    width: 100%;
    height: auto;
    padding: 0px;
    
}

.homesection2-left-column-image .image2 {
    border-radius: 5px;
}



.homesection2-right-column {
    align-items: center;
    width: 50%;

}

.homesection2-right-column-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto%;
}

.homesection2-right-column-vision {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: black;
    margin: 10px;
}

.homesection2-right-column-vision-text {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin: 10px;
}

.homesection2-right-column-mission {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: black;
    margin: 10px;
}

.homesection2-right-column-mission-text {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin: 10px;
}

