.homesection2 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.homesection2-two-column {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}
  

.homesection2-left-column {
    width: 50%;

}

.logo {
    position: absolute;
    font-family: "Princess Sofia";
    font-size: 24px;
    color: #231F20;
    padding: 10px;
}


.homesection2-left-column-image {
    width: 100%;
    height: 100%;
}

.image2 {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

.homesection2-right-column {
    align-items: center;
    width: 50%;
}

.homesection2-right-column-content {

    width: 100%;
    justify-content: center;
    align-items: center;

}

.homesection2-right-column-vision {

    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: black;
    padding: 10px;
}

.homesection2-right-column-vision-text {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 10px;
}

.homesection2-right-column-mission {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: black;
    padding: 10px;
}

.homesection2-right-column-mission-text {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 10px;
}
@media (max-width: 40em) {
  .homesection2-right-column {display: block; width: 100%;}
}

@media (max-width: 40em) {
     .homesection2-left-column {display: block; width: 100%;}
}

@media (max-width: 40em) {
    .homesection2-two-column {display: block; width: 100%; padding: 0px; margin-top: 0px;};

  }








