.postContainer {
  width: 100%;
  }

.postSectionTop {
width: 100%;
background-color: var(--body_background);
}

.postHeaderTop {
display: flex;
align-items: center;
}

.postHeaderImage {
  min-width: 50%;
}

.postHeaderImage img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.postHeaderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  color: var(--body_color);
}

.postHeaderTitle {
  text-align: center;
  margin: 10px;
  font-family: "Valera Round", sans-serif;
  font-size: 2em;
  color: var(--body_color);
}

.metaData {
  display: flex;
  width: 100%;
  color: #b39656;
}

.postHeaderAuthor {
  width: 50%;
  padding: 20px;
}

.postHeaderDate {
  width: 50%;
  padding: 20px;
  text-align: right;
}

.postSectionMiddle {
  padding: 10px;
  background-color: black;
}

.postMiddle {
  display: flex;
  align-items: center;
}

.socialIcons {
  width: 50%;
  text-align: center;
  color: var(--yellow-color);
}

.contactMe {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.contact-me-help {
  color: white;
  font-family: "Roboto" sans-serif;
  font-size: 18px;
  text-align: center;
}

.contactMeButton {
  padding: 10px 10px 10px 10px;
  background-color: var(--red-color);
  border-radius: 10px;
  width: 50%;
}

.contactMeButton:hover {
  background-color: var(--pink-color);
}

.contactMeButton .link {
  font-family: "Valera Round", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--body_color);
  line-height: 1.2em;
  letter-spacing: 0.2px;
}

/* sticky position set to 50px, which the height of the Nav bar */
.postSectionDivider{
  position: sticky;
  top: 50px;
  }

.hrSolid {
  border: 1px solid var(--body_background);
}

.postSectionBottom {
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;

  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  
  color: white;
  line-height: 1.5em;
  text-align: center;
}

.postSideBar {
  display: block;
  min-width: 15%;
  height: auto;
  margin: 10px;
  top: 52px;
}

.postBody {
  display: block;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
  width: 50%;
}

.postSectionBottom h2 {
  font-weight: 300;
}

.postSectionBottom h3 {
  font-weight: 400;
}


.postSectionBottom h4 {
  font-weight: 400;
}


@media (max-width: 40em) {
  .postHeaderTop {display: block};
  .postMiddle {display: block};

}

/*.image img {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
*/

/*p img {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
*/

  /*
  .singlePostWrapper {
    width: 800px;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }



  .postSectionTop postInfo {
    display: flex;
  }
  
  .singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    color: var(--body_color);
  }

  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    color: #b39656;
  }
  
  .postDescription {
    padding: 20px;
    background-color: var(--body_background);
    color: var(--body_color);
    border-radius: 5px 5px 0px 0px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100%;
  }

  .postbody {
    padding: 20px;
    background-color: var(--body_background);
    color: var(--body_color);
    border-radius: 0px 0px 5px 5px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100%;
  }

  .singlePostDesc::first-letter {
    font-size: 30px;
    font-weight: 600;
  }
*/
  /* .image classnamem used by ckEditor.  This css used to control image sizing in the blog content area. */  

  /*
  .image img {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
  }

  .postbody p img {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
  }
*/