.singlePost {
    flex: 9;
  }
  
  .singlePostWrapper {
    width: 600px;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }
  
  .singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    color: var(--body_color);
  }

  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    color: #b39656;
  }
  
  .postDescription {
    padding: 20px;
    background-color: var(--body_background);
    color: var(--body_color);
    border-radius: 5px 5px 0px 0px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100%;
  }

  .postbody {
    padding: 20px;
    background-color: var(--body_background);
    color: var(--body_color);
    border-radius: 0px 0px 5px 5px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100%;
  }

  .singlePostDesc::first-letter {
    font-size: 30px;
    font-weight: 600;
  }
  
  /* .image classnamem used by ckEditor.  This css used to control image sizing in the blog content area. */  
  .image img {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
  }

  .postbody p img {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
  }



  
  