.postContainer {
  width: 100%;
  }

.postSectionTop {
width: 100%;
background-color: var(--body_background);
}

.postHeaderTop {
display: flex;
align-items: center;
}

.postHeaderImage {
  min-width: 50%;
}

.postHeaderImage img {
  display: block;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.postHeaderImageText {
  position: absolute;
  top: 20%;
  left: 7%;
  line-height: 1.2em;
  color: white;
}

.postHeader,
.postSubHeader,
.postModuleNumber {
  font-family: "roboto" sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}

.postHeaderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  color: var(--body_color);
}

.postHeaderTitle {
  text-align: center;
  margin: 10px;
  font-family: "Valera Round", sans-serif;
  font-size: 2em;
  color: var(--body_color);
}

.metaData {
  display: flex;
  width: 100%;
  color: #b39656;
}

.postHeaderAuthor {
  width: 50%;
  padding: 20px;
}

.postHeaderDate {
  width: 50%;
  padding: 20px;
  text-align: right;
}

.postSectionSocial {
  padding: 10px;
  background-color: var(--body_background);
}

.postSocial {
  display: flex;
  align-items: center;
}

.socialIcons {
  width: 50%;
  text-align: center;
  color: var(--yellow-color);
}

.postSocialIcons {
  color: var(--yellow-color);
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.contactMe {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.contact-me-help {
  color: white;
  font-family: "Roboto" sans-serif;
  font-size: 18px;
  text-align: center;
}

.contactMeButton {
  padding: 10px 10px 10px 10px;
  background-color: var(--red-color);
  border-radius: 10px;
  width: 50%;
}

.contactMeButton:hover {
  background-color: var(--pink-color);
}

.contactMeButton .link {
  font-family: "Valera Round", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--body_color);
  line-height: 1.2em;
  letter-spacing: 0.2px;
}

/* sticky position set to 50px, which the height of the Nav bar */
.postSectionDivider{
  position: sticky;
  top: 50px;
  }

.hrSolid {
  border: 1px solid var(--body_background);
}

.postSection {
  width: 100%;
  padding: 10px;
  background-color: black;
  /*width: 50%;
  margin-top: 10px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  
  color: white;
  line-height: 1.5em;
  text-align: center; */
} 

.postGroup {
  display: flex;
  text-align: center;
  justify-content: center;
}

.postSideBar {
  min-width: 250px;
  margin: 10px 10px 10px 30px;
  top: 52px;
  text-align: center;
}

.postBody {
  width: 40%;
  background-color: white;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.6em;
  color: black;
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

.singlePostDesc {
  width: 100%;
  background-color: var(--body_background);
  color: white;
  padding: 5px;
  text-align: left;
}

.postContent {
  margin-top: 25px;
  font-family: "Roboto";
  font-weight: 500;
}

.postContent li {
  margin-left: 24px;
}

.postSection-t h2 {
  font-weight: 300;
}

.postSection-t h3, h4 {
  font-weight: 400;
}

.postBody h2 {
  text-align: left;
  margin-top: 5pz
}

.prevpost {
  padding: 10px 10px 10px 10px;
  background-color: var(--red-color);
  border-radius: 10px;
  width: 50%;

}

.nextpost:hover {
  background-color: var(--pink-color);
}

.nextpost {
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  background-color: var(--red-color);
  border-radius: 10px;
  width: 50%;

}

.prevpost:hover {
  background-color: var(--pink-color);
}

@media (max-width: 40em) {
  .postBody {display: block; width: 100%;};
}

@media (max-width: 40em) {
  .postHeaderTop {display: block};
}






/*.image img {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
*/

/*p img {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
*/

  /*
  .singlePostWrapper {
    width: 800px;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }



  .postSectionTop postInfo {
    display: flex;
  }
  
  .singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    color: var(--body_color);
  }

  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    color: #b39656;
  }
  
  .postDescription {
    padding: 20px;
    background-color: var(--body_background);
    color: var(--body_color);
    border-radius: 5px 5px 0px 0px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100%;
  }

  .postbody {
    padding: 20px;
    background-color: var(--body_background);
    color: var(--body_color);
    border-radius: 0px 0px 5px 5px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100%;
  }

  .singlePostDesc::first-letter {
    font-size: 30px;
    font-weight: 600;
  }
*/
  /* .image classnamem used by ckEditor.  This css used to control image sizing in the blog content area. */  

  /*
  .image img {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
  }

  .postbody p img {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
  }
*/